.result{
    background: #ffffff;
}
.result-search{
    height: 50px;
    align-items: center;
    padding-left: 30px;
    font-size: 14px;
    color: #383838;
    display: flex;
    border-bottom: 1px solid #EBEBEB;
}
.shabi{
    height: 25px;
    width: 70px;
    margin-left: 5px;
    border: 1px solid #65D577;
    text-align: center;
    border-radius: 4px;
    line-height: 25px;
    background: #D1FFD8;
}
.shabi>span{
    margin-left: 8px;
    font-size: 16px;
    color: #65D577;
}
.gray{
    height: 45px;
    background: #f0f0f0;
}
.clas{
    width: 71px;
}
.gray>ul{
    width: 100%;
    height: 45px;
    background: #ffffff;
}
.gray>ul li{
    float: left;
    width: 42px;
    text-align: center;
    margin-top: 14px;
    margin-left: 20px;
}
.special{
    height: 20px;
    border-radius: 3px;
    background: #65D577;
    color: #ffffff;
}
.goods{
    padding: 15px;
    font-size: 14px;
    color: #383838;
    overflow: hidden;
}
.goods-left{
    padding: 10px;
    float: left;
    width: 185px;
    border: 1px solid #F2F2F2;
}
.goods-cla{
    padding-bottom: 10px;
}
.goods-cla img{
   width: 180px;
}
.small-size{
    color: #8E8E8E;
    font-size: 12px;
}
.goods-cla>div{
    margin-bottom: 5px;
}
.more-red{
    font-size: 16px;
    color: red;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.line-top{
    border-top: 1px solid #eeeeee;
}
.goods-right{
    float: right;
    width: 952px;
    margin-left: 10px;
}
.length{
    height: 40px;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    background: #E6E6E6;
}
.length input{
    width: 50px;
    height: 22px;
}
.marg{
    margin-left:20px;
}
.goods-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.goods-list li{
    width: 17%;
    padding: 10px;
    margin-top: 10px;
    transition: all 0.25s linear;
    border: 1px solid #E8E8E8;
}
.goods-list li:hover{
    border: 1px solid #65D577;
    cursor: pointer;
}
.goods-list li img{
    width: 155px;
}
.add-collection{
    padding:3px 5px;
    border-radius: 3px;
    border: 1px solid #EEEEEE;
}
.add-shop{
    padding:3px 5px;
    border-radius: 3px;
    background: #F58400;
    color: #ffffff;
}
.page-cla{
    float: right;
    margin-top: 15px;
}
.page-cla span{
    margin-left: 10px;
}
.num{
    width: 40px;
    height: 20px;
    border: 1px solid #eeeeee;
}
.borde{
    padding: 1px 4px;
    border: 1px solid #eeeeee;
}
.num-gray{
    padding: 1px 5px;
    background: #E6E6E6;
}
.more-right{
    float: right;
    margin-right: 20px;
    margin-top: 14px;
    padding: 2px 5px;
    border: 1px solid #65D577;
    color: #65D577;
}